node_modules
.env
dev.db
dev.db-journal
debug.log

# Ignore compiled files in src since we use ts-node / tsx
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
src/**/*.d.ts.map
prisma/*.js
prisma/*.js.map
prisma/*.d.ts
prisma/*.d.ts.map
